li {
}

ul {
  list-style: none;
  padding-left: 0;
}

#addPlantbtn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#addWateringReminderBtn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

form {
  font-size: 0.5em;
}

.col {
  border-radius: 5px;
  border-color: rgb(98, 186, 124);
}

.container {

}

.heading {
    position: fixed;
    z-index: 1;
    background-color: rgb(98, 186, 124);
/*    border-bottom-left-radius: 0.5em; uncomment to round the bottom edges of header
    border-bottom-right-radius: 0.5em;*/
    color: white;
/*    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px; */
}

h1, h2, h3, h4, h5, h6 {
/*  color: rgb(98, 186, 124);*/
  text-align: center;
}
