li {
}

ul {
  list-style: none;
  padding-left: 0;
}

#addWateringReminderBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

form {
  font-size: 0.5em;
}

.col {
    border-radius: 5px;
}
